h1, h2, h3, h4, h5, h6, p, em, ul, li {
    color: #646464;
}

#itemTitle h5,
#itemTitle em,
#itemTitle p {
    display: inline-block;
}

p.venue {
    margin-bottom: 0
}

p.authors {
    margin-bottom: 0
}

/* Course page section padding */
section {
    padding: 75px 0;
}
